# Django Project settings
SECRET_KEY=
ALLOWED_HOSTS=.localhost, .127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.development

# Admin Settings
ADMIN_USERNAME=
ADMIN_PHONE_NUMBER=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Database variables
RDS_DB_NAME=
RDS_USERNAME=
RDS_PASSWORD=
RDS_HOSTNAME=
RDS_PORT=5433

# AWS S3
USE_S3=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
