{% load static %}
<!doctype html> 
<html>
  <head>
    <meta charset="utf-8"> <!-- Important: rapi-doc uses utf8 charecters -->
    <title>Dukka Inc. | API</title>
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
    <style>
        [slot=nav-logo] {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
  </head>
  <body>
    <rapi-doc
      spec-url="{% url 'schema-json' %}"
      render-style="focused"
      show-header="false"
      show-info="true"
      schema-style="table"
      schema-expand-level="1"
      schema-description-expanded="true">
      <div slot="nav-logo">
        <img height="50" color="#ffffff" src="{% static 'img/logo-dark.svg' %}"/>
        <span style="font-size: 20px; color: #cccccc;">Dukka Inc.</span>
      </div>
    </rapi-doc>
  </body>
</html>
