option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: config.settings.development
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: config.wsgi:application
  "aws:elasticbeanstalk:environment:process:default":
    HealthCheckPath: "/"
    MatcherHTTPCode: "200-499"

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --no-input"
    leader_only: true
  02_defaultsuperuser:
    command: "source /var/app/venv/*/bin/activate && python manage.py defaultsuperuser"
    leader_only: true
  03_collectstatic:
     command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --no-input"
  04_runfixtures:
     command: "source /var/app/venv/*/bin/activate && python manage.py runfixtures"
